.header-links-wrap {
  padding: 0 10px;
  border-bottom: 1px solid #333333;
  margin-bottom: 20px;
}
.header-links-wrap ul {
  display: flex;
  height: 60px;
  align-items: center;
}
.header-links-wrap ul li {
  margin-right: 16px;
}
