<header>
  <div class="container">
    <div class="header-links-wrap">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a routerLink="/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add game</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
