<div class="game-wrapper">
  <div class="game-cover">
    <img src="{{ game.gameCover }}" alt="">
  </div>
  <div class="game-info">
    <h2>{{ game.gameName }}</h2>
    <h3>Platform: {{ game.gamePlatform }}</h3>
    <p>{{ game.gameDescription }}</p>
  </div>
</div>
