a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2px;
}
.min-cover {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}
.min-cover img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
