<ul>
  <li *ngFor="let game of gamesByPlatform;">
    <a
      routerLink="/game/{{ game.gameName }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <div class="min-cover">
        <img src="{{ game.gameCover }}" alt="">
      </div>
      <div class="name">{{ game.gameName }}</div>

    </a>
  </li>
</ul>
