@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*common styles*/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0 0 60px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}
.container {
  width: 960px;
  margin: auto;
}
.content {
  padding: 20px 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: green;
}
.green {
  cursor: pointer;
  text-decoration: underline;
  color: green;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a.active {
  color: green;
}
ul li a {
  display: block;
  padding: 2px 0;
}
.row {
  display: flex;
}
.col-50 {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
}
.col-33 {
  flex: 1 1 33.33333333%;
  max-width: 33.33333333%;
  padding: 10px;
}
.wrap {
  background-color: #f5f4f2;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.small-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 3px 10px;
  margin-bottom: 10px;
}
button {
  background-color: green;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  opacity: 0.9;
}
