<form (ngSubmit)="addGame()" #gameAddForm>
  <div class="form-group">
    <label for="name">Game name</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      #gameNameInput
    />
  </div>
  <div class="form-group">
    <label for="imageUrl">Cover</label>
    <input
      type="text"
      name="imageUrl"
      id="imageUrl"
      class="form-control"
      #gameCoverUrlInput
    />
  </div>
  <div class="form-group">
    <label for="platform">Game platform</label>
    <select name="platform" id="platform" #gamePlatformSelect>
      <option value="">Select user role</option>
      <option value="pc">PC</option>
      <option value="playstation">PlayStation</option>
      <option value="xbox">XBOX</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      class="form-control"
      #gameDescriptionInput
    ></textarea>
  </div>
  <button type="submit">Create</button>
  <p class="valid-message">Please fill in all fields</p>
</form>
