form {
  width: 50%;
  padding: 10px;
}
form.no-valid .valid-message {
  display: block;
}
.valid-message {
  display: none;
  color: tomato;
}
.form-group {
  margin-bottom: 16px;
}
label {
  display: block;
  margin-bottom: 4px;
}
input,
select,
textarea{
  width: 100%;
}

textarea {
  min-height: 180px;
}

input,
select {
  height: 30px;
  padding: 0 4px;
}
