<div class="row">
  <div class="col-50">
    <div class="title">
      Platforms List
    </div>
    <ul>
      <li>
        <a routerLink="by-platform/pc" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PC</a>
      </li>
      <li>
        <a routerLink="by-platform/playstation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PlayStation</a>
      </li>
      <li>
        <a routerLink="by-platform/xbox" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Xbox</a>
      </li>
    </ul>
  </div>
  <div class="col-50">
    <div class="title">
      Games List
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


